<div class= 'row text-center'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-12'>
        <img src="/assets/subscription.jpg" style="
    height: 300px;
" />
      </div>
    </div>
    <div class='row'  style="padding-bottom: 50px;">
      <div class='col-md-12'>
        <h2>Welcome To Ruby Subscription</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>
        <a href="#">Link 1</a>
      </div>
      <div class='col-md-4'>
        <a href="#">Link 2</a>
      </div>
      <div class='col-md-4'>
      <% if current_user.active_subscription.present? %>
        <%= link_to 'Manage Preminum', subscription_path(current_user.active_subscription.id) %>
      <% else %>
        <%= link_to 'Go Preminum', subscription_type_list_subscriptions_path %>
      <% end%>
      </div>
    </div>
  </div>
</div>