<div class= 'row text-center'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-12'>
        <img src="/assets/subscription.jpg" style="
    height: 300px;
" />
      </div>
    </div>
    <div class='row'  style="padding-bottom: 50px;">
      <div class='col-md-12'>
        <h2>Something went wrong please contact at care@subscriptio.com</h2>
      </div>
    </div>
  </div>
</div>