<div class= 'row text-center'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-12'>
        <img src="https://i.pinimg.com/originals/95/8d/fc/958dfc02a52c20b9f6b77ac15d58e93a.gif" style="
    height: 300px;
" />
      </div>
    </div>
    <div class='row'  style="padding-bottom: 50px;">
      <div class='col-md-12'>
        <h2>Thank you so much for your subscription.</h2>
      </div>
    </div>
  </div>
</div>